# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
.env
.env.local

packages/services/cut-planning/.env
packages/services/emb-tracking/.env
packages/services/order-execution/.env
packages/services/order-management/.env
packages/services/unit-management/.env
packages/services/warehouse-management/.env


/packages/services/cut-planning/.env
/packages/services/emb-tracking/.env
/packages/services/order-execution/.env
/packages/services/order-management/.env
/packages/services/unit-management/.env
/packages/services/warehouse-management/.env

dist
tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db


# config files
config.ts
typeorm.config.ts
environment.js

packages\ui\src\assets\environment.js
/packages/ui/src/assets/environment.js