#ins-card {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* margin: 20px auto; */
    /* width: 250px;
    height: 250px; */
    /* background: white;0 */
    /* border-radius: 75px; */
    font-family: 'Montserrat', sans-serif;
    /* font-size: 20px; */
    font-weight: lighter;
    letter-spacing: 2px;
    transition: 1s box-shadow;
  }
  
  #ins-card:hover {
    box-shadow: 0 35px 35px 0px rgba(0, 0, 0, 0.8);
  }
  
  #ins-card:hover::before, #ins-card:hover::after {
    display: block;
    content: '';
    position: absolute;
    /* width: 250px; */
    /* height: 250px; */
    background: #FDA8CF;
    border-radius: 75px;
    z-index: 1;
    margin-left: 2px;
    animation: 1s clockwise infinite;
  }
  
  #ins-card:hover:after {
    background: #F3CE5E;
    animation: 2s counterclockwise infinite;
  }
  
  @keyframes clockwise {
    0% {
      top: -5px;
      left: 0;
    }
    12% {
      top: -2px;
      left: 2px;
    }
    25% {
      top: 0;
      left: 5px;    
    }
    37% {
      top: 2px;
      left: 2px;
    }
    50% {
      top: 5px;
      left: 0;    
    }
    62% {
      top: 2px;
      left: -2px;
    }
    75% {
      top: 0;
      left: -5px;
    }
    87% {
      top: -2px;
      left: -2px;
    }
    100% {
      top: -5px;
      left: 0;    
    }
  }
  
  @keyframes counterclockwise {
    0% {
      top: -5px;
      right: 0;
    }
    12% {
      top: -2px;
      right: 2px;
    }
    25% {
      top: 0;
      right: 5px;    
    }
    37% {
      top: 2px;
      right: 2px;
    }
    50% {
      top: 5px;
      right: 0;    
    }
    62% {
      top: 2px;
      right: -2px;
    }
    75% {
      top: 0;
      right: -5px;
    }
    87% {
      top: -2px;
      right: -2px;
    }
    100% {
      top: -5px;
      right: 0;    
    }
  }

  .blinking {
  animation: blinker 2s linear 2;
  /* runs twice (approx. 2s total) */
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}