:where(.view-sewing-job-table).ant-table-wrapper .ant-table-pagination.ant-pagination {
    margin: 15px 0px -7px 0px;
}

.barcode-btn {
    background-color: #1677ff !important;
    border-color: #4096ff !important;
    color: #fff !important;
    width: 100%;
}

.barcode-data {
    margin: 2px
}

:where(.barcode-modal).ant-modal .ant-modal-content {
    position: relative;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 0;
    border-radius: 6px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    pointer-events: auto;
    padding: 20px 24px;
    width: 500px;
}

.barcode-data-table-td{
    display: flex;
}

.barcode-data-table-td-2{
    text-align: left;
    font-weight: 600;
}

/* .barcode-data-table td {
    display: flex;
} */