.box1 {
    width: 20;
    height: 8px;
    border: 1px solid rgb(1, 1, 11);
    box-sizing: border-box;
}

/* tr {
    border: 1px solid black;
    padding: 8px;
}

th {
    border: 1px solid black;
    padding: 8px;
    align-content: 'center'
}

td {
    border: 1px solid black;
    padding: 8px;
} */